input {
    margin: 10px;
    height: 35px;
    width: 200px;
}

#submit {
    margin: 20px;
}

#SO {
    margin: 20px;
    display: none;
}

#display_names_with_commas {
    background: yellowgreen;
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

#display_names_without_commas {
    background: lightcoral;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}